@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1200px;
}


nav {
    background-color: crimson;
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

.top {
    display: flex;
    width: 100%;
}

.box-1 {
    background-color: rgb(196, 150, 240);
    max-width: 382px;
    width: 100%;
    height: 506px;
    margin-top: 48px;
    margin-right: 55px;
}

.box-2 {
    background-color: lightsalmon;
    width: 892px;
    height: 506px;
    margin-top: 48px;
}

.middle {
    width: 100%;
}

.box-3 {
    background-color: lightgreen;
    width: 1200px;
    height: 506px;
    margin-top: 48px;
}

.bottom {
    display: flex;
    width: 100%;
}

.box-4 {
    background-color: lightslategray;
    width: 600px;
    height: 506px;
}

.box-5 {
    background-color: rgb(255, 255, 104);
    width: 600px;
    height: 506px;
    margin: 48px 0 48px 55px;
}

footer {
    background-color: lightskyblue;
    width: 1200px;
    height: 120px;
    margin-bottom: 70px;
}