* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: auto;
}

nav {
  width: 100%;
  height: 100px;
  margin-top: 70px;
  background-color: #c4c4c4;
}

.container1 {
  display: flex;
  width: 100%;
}

aside {
  width: 382px;
  height: 506px;
  background-color: #c4c4c4;
  margin: 48px 42px 48px 0px;
}

.main {
  width: 892px;
  height: 506px;
  margin: 48px 0px;
  background-color: #c4c4c4;
}

.content1 {
  width: 100%;
  height: 506px;
  background-color: #c4c4c4;
  margin-bottom: 48px;
}

.container2 {
  width: 100%;
  display: flex;
}

.content2 {
  width: 570px;
  height: 630px;
  margin: 0 55px 48px 0px;
  background-color: #c4c4c4;
}

.content3 {
  width: 570px;
  height: 630px;
  margin-bottom: 48px;
  background-color: #c4c4c4;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #c4c4c4;
  margin-bottom: 80px;
}
