* {
	padding: 0;
	margin: 0;
}

body {
	max-width: 1250px;
	margin: auto;
}

nav	{
	width: 100%;
	height: 131px;
	background: yellow;	
}

.container {	
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	/*height: 150px;*/
	/*border: 5px solid #333;*/
	/*margin: 30px auto;
	display: flex;
	padding: 5px;
	box-sizing: border-box;
	flex-wrap: wrap;
	align-content: space-around;*/

}

.satu {
	width: 382px;
	height: 506px;
	margin-right: 20px;
	background: green;
}

.dua {
	width: 892px;
	height: 506px;
	background: #C4C4C4;

}

.tiga {
	width: 100%;
	height: 506px;;
	background: red;
	
}

.empat {
	width: 630px;
	height: 506px;
	margin-right: 20px;
	background: black;
}

.lima {
	width: 630px;
	height: 506px;
	background: blue;
}

.footer {
	width: 100%;
	height: 131px;
	background: yellow;
}